html
	head
		meta(charset="utf-8")
		title Julios Assignments
		meta(content="IE=edge,chrome=1")
		meta(name="V_TRAINING", content="")
		// Add a link to ALREADY COMPILED CSS
		script(src="../bower_components/jquery/dist/jquery.js")
		script(src="../js/main.js")
	body
		h1 THIS IS A HEADER MAN
		p THIS IS A PARAGRAPH
		div
			p asdjf;lajsdf;lajsd;lf U
			p poopee
			img(src="", aria-controls)
			p whoa
			p download "cdto" for mac finder shortcut to open directory in terminal
			p new paragraph
			p newest paragraph
			p latest latest paragraph
			p ULTRA LATEST PARAGRAPH
			p latest super latest super paragraph
			p OMFGG OMFG OMFG OMFG
			p asdfkja;sdkfja;
			p asdfjas;dkfj;
			p asdf;asdf
			p NEWEST OF ALL PARAGRAPHS