html
	head
		meta(charset="utf-8")
		title Julios Assignments
		meta(content="IE=edge,chrome=1")
		meta(name="V_TRAINING", content="")
		// Add a link to ALREADY COMPILED CSS
		script(src="../bower_components/jquery/dist/jquery.js")
		script(src="../js/main.js")
		link(rel="stylesheet",href="../target/css/style.css", type="text/css")
	body
		div.header
		div.footer
		p This is a paragraph